.fluidbox {
	outline: none;
}
.fluidbox-overlay {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all .25s ease-in-out;
}
.fluidbox-wrap {
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	transition: all .25s ease-in-out;
}
.fluidbox-ghost {
	background-size: cover;
	background-position: center center;
	position: absolute;
	transition: all .25s ease-in-out;
}
	.fluidbox-closed .fluidbox-ghost {
		-webkit-transition-property: top, left, opacity, -webkit-transform;
		-moz-transition-property: top, left, opacity, -moz-transform;
		-o-transition-property: top, left, opacity, -o-transform;
		transition-property: top, left, opacity, transform;
		transition-delay: 0, 0, .25s, 0;
	}
	.fluidbox-ghost .fluidbox-caption {
		position: absolute;
		bottom: 0;
		/*opacity: 0.5;*/
		/*background: rgba(0,0,0,0.5);*/
		color: #fff;
		padding: 10px;
		width: 100%;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 1rem;
		text-shadow: 1px 1px 5px #000000;
	}